contractions
joblib
matplotlib
nltk
numpy
openai
pandas
scikit_learn
seaborn
spacy==3.7.5
streamlit
streamlit_chat
wordcloud
scikit-learn-intelex
scikit-llm
scipy
spacy-streamlit
numpy
sentence-transformers
